<div [ngClass]="getHeightClass()" class="row div-float">
  <h5 class="col-12 align-self-start heading">Details</h5>
  <div class="row p-2" *ngIf="businessCard; else makeSelection">
    <div class="col-8">
      <img class="img-fluid" src="data:image/png;base64,{{businessCard.imageUri}}">
    </div>
    <div id="info" class="col-4">
      <h4 class="row">{{businessCard.firstName}} {{businessCard.lastName}}</h4>
      <div id="email" *ngIf="businessCard.email" class="row mt-2 flex-column">
        <div class="font-weight-bold">E-mail:</div>
        <div>{{businessCard.email}}</div>
      </div>
      <div *ngIf="businessCard.phoneNumber" class="row mt-2 flex-column">
        <div class="font-weight-bold">Phone Number:</div>
        <div>{{businessCard.phoneNumber}}</div>
      </div>
      <div *ngIf="businessCard.extraText" class="row mt-2 flex-column">
        <div class="font-weight-bold">Other Info:</div>
        <div>{{businessCard.extraText}}</div>
      </div>
    </div>
  </div>
  <ng-template #makeSelection>
    <div class="col-12">
      <div class="row">
        <div class="col ultimate-center">
          <mat-icon>portrait</mat-icon>
          <h3>Choose a business card!</h3>
          <mat-icon>arrow_forward</mat-icon>
        </div>
      </div>
    </div>
  </ng-template>
</div>