table {
    width: 100%;
}

.mat-form-field {
font-size: 14px;
width: 100%;
}
  
app-business-card {
    margin-top:.5em;
    margin-bottom: .5em;
    justify-content: center;
}

.scrollable-list {
    height: 500px;
    overflow-y: auto;
    overflow-x: none;
}

.green-icon {
    color: #8ace2c;
    cursor: pointer;
}

.green-icon:hover {
    background: #8ace2c;
    color: white;
}

#list-headers {
    display: flex;
    align-items: center;
}