table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.green-icon {
    color: #8ace2c;
    cursor: pointer;
}

.green-icon:hover {
    background: #8ace2c;
    color: white;
}

#list-headers {
    display: flex;
    align-items: center;
}